.App {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.container {
  text-align: center;
  margin-top: 120px;
  height: 350px;
  width: 350px;
  border: 1px solid #ededed;
  border-radius: 16px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}

.buttons__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}
form {
  width: 340px;
}
